# Basic Statistics in Python

Dataset from Kaggle : **"Pokemon with stats"** by *Alberto Barradas*  
Source: https://www.kaggle.com/abcsds/pokemon (requires login)

---

### Essential Libraries

Let us begin by importing the essential Python Libraries.

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

---

### Import the Dataset

The dataset is in CSV format; hence we use the `read_csv` function from Pandas.  
Immediately after importing, take a quick look at the data using the `head` function.

In [5]:
pkmndata = pd.read_csv('pokemonData.csv')
pkmndata.sample(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
702,641,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
242,224,Octillery,Water,NaN,480,75,105,75,105,75,45,2,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
370,338,Solrock,Rock,Psychic,440,70,95,85,55,65,70,3,False
340,311,Plusle,Electric,NaN,405,60,50,40,85,75,95,3,False
587,528,Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False
143,132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False
274,254,Sceptile,Grass,NaN,530,70,85,65,105,85,120,3,False
90,83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False

Description of the dataset, as available on Kaggle, is as follows.
Learn more : https://en.wikipedia.org/wiki/List_of_Pok%C3%A9mon

> **\#** : ID for each Pokemon (runs from 1 to 721)  
> **Name** : Name of each Pokemon  
> **Type 1** : Each Pokemon has a basic Type, this determines weakness/resistance to attacks  
> **Type 2** : Some Pokemons are dual type and have a Type 2 value (set to nan otherwise)  
> **Total** : Sum of all stats of a Pokemon, a general guide to how strong a Pokemon is  
> **HP** : Hit Points, defines how much damage a Pokemon can withstand before fainting  
> **Attack** : The base modifier for normal attacks by the Pokemon (e.g., scratch, punch etc.)  
> **Defense** : The base damage resistance of the Pokemon against normal attacks  
> **SP Atk** : Special Attack, the base modifier for special attacks (e.g. fire blast, bubble beam)  
> **SP Def** : Special Defense, the base damage resistance against special attacks  
> **Speed** : Determines which Pokemon attacks first each round  
> **Generation** : Each Pokemon belongs to a certain Generation  
> **Legendary** : Legendary Pokemons are powerful, rare, and hard to catch

---

Check the vital statistics of the dataset using the `type` and `shape` attributes.

In [3]:
print("Data type : ", type(pkmndata))
print("Data dims : ", pkmndata.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (800, 13)

Check the variables (and their types) in the dataset using the `dtypes` attribute.

In [7]:
print(pkmndata.dtypes)

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

You can edit the code to be .head(n = 10) or something like that for example to view more of the rows. To randomise the rows that you see use .sample(n = number). Random samples will be shown after every run.

---

### Extract a Single Variable

We will start by analyzing a single variable from the dataset, **HP**.  
This variable tells us defines how much damage a Pokemon can withstand.  
Extract the variable and its associated data as a Pandas `DataFrame`.

In [6]:
hp = pd.DataFrame(pkmndata['HP'])
print("Data type : ", type(hp))
print("Data dims : ", hp.size)
hp.head()

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  800

   HP
0  45
1  60
2  80
3  80
4  39

---

### Uni-Variate Statistics

Check the Summary Statistics of Uni-Variate Series using `describe`.

In [ ]:
hp.describe()

Check the Summary Statistics visually using a standard `boxplot`.

In [ ]:
f = plt.figure(figsize=(24, 4))
sb.boxplot(data = hp, orient = "h")

Extend the summary to visualize the complete distribution of the Series.  
The first visualization is a simple Histogram with automatic bin sizes.

In [ ]:
f = plt.figure(figsize=(16, 8))
sb.histplot(data = hp)

The second visualization is a simple Kernel Density Estimate (KDE).

In [ ]:
f = plt.figure(figsize=(16, 8))
sb.kdeplot(data = hp)

You may also want a combination of the two, `hist` and `kde`, as follows.

In [ ]:
f = plt.figure(figsize=(16, 8))
sb.histplot(data = hp, kde = True)

Finally, the **Violin Plot** combines boxplot with kernel density estimate.

In [ ]:
f = plt.figure(figsize=(16, 8))
sb.violinplot(data = hp, orient = "h")

---

### Extract Two Variables

Next, we will analyze two variables from the dataset, **HP** vs **Attack**.  
Extract the two variables and their associated data as a Pandas `DataFrame`.

In [ ]:
hp = pd.DataFrame(pkmndata['HP'])
attack = pd.DataFrame(pkmndata['Attack'])

---

### Bi-Variate Statistics

We can of course check the uni-variate Summary Statistics for each variable.

In [ ]:
# Summary Statistics for HP
hp.describe()

In [ ]:
# Summary Statistics for Attack
attack.describe()

And visualize the uni-variate Distributions of each variable independently.

In [ ]:
# Set up matplotlib figure with three subplots
f, axes = plt.subplots(2, 3, figsize=(24, 12))

# Plot the basic uni-variate figures for HP
sb.boxplot(data = hp, orient = "h", ax = axes[0,0])
sb.histplot(data = hp, ax = axes[0,1])
sb.violinplot(data = hp, orient = "h", ax = axes[0,2])

# Plot the basic uni-variate figures for Attack
sb.boxplot(data = attack, orient = "h", ax = axes[1,0])
sb.histplot(data = attack, ax = axes[1,1])
sb.violinplot(data = attack, orient = "h", ax = axes[1,2])

However, it will be more interesting to visualize them together in a `jointplot`.

In [ ]:
# Create a joint dataframe by concatenating the two variables
jointDF = pd.concat([attack, hp], axis = 1).reindex(attack.index)
jointDF

In [ ]:
# Draw jointplot of the two variables in the joined dataframe
sb.jointplot(data = jointDF, x = "Attack", y = "HP", height = 12)

As it tells us something about the **Correlation** between the two variables.

In [ ]:
# Calculate the correlation between the two columns/variables
jointDF.corr()

One may visualize the correlation matrix as a `heatmap` to gain a better insight.

In [ ]:
sb.heatmap(jointDF.corr(), vmin = -1, vmax = 1, annot = True, fmt=".2f")

---

### Multi-Variate Statistics

Similarly, we may analyze all numeric values in the original dataset.

In [ ]:
# Extract only the numeric data variables
numDF = pd.DataFrame(pkmndata[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]])

# Summary Statistics for all Variables
numDF.describe()

In [ ]:
# Draw the Boxplots of all variables
f = plt.figure(figsize=(16, 8))
sb.boxplot(data = numDF, orient = "h")

In [ ]:
# Draw the distributions of all variables
f, axes = plt.subplots(6, 3, figsize=(18, 24))

count = 0
for var in numDF:
    sb.boxplot(data = numDF[var], orient = "h", ax = axes[count,0])
    sb.histplot(data = numDF[var], ax = axes[count,1])
    sb.violinplot(data = numDF[var], orient = "h", ax = axes[count,2])
    count += 1

In [ ]:
# Calculate the complete  correlation matrix
numDF.corr()

In [ ]:
# Heatmap of the Correlation Matrix
f = plt.figure(figsize=(12, 12))
sb.heatmap(numDF.corr(), vmin = -1, vmax = 1, annot = True, fmt = ".2f")

In [ ]:
# Draw pairs of variables against one another
sb.pairplot(data = numDF)